@mixin float{
    transition: .5s;
    cursor: pointer;

    &:hover {
        transform: translateY(-20px);
        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    }
}

@mixin position($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right; 
  bottom: $bottom;
  left: $left;
}

@mixin width($width: null, $min-width: null, $max-width: null){
    width: $width;
    min-width: $min-width;
    max-width: $max-width;
}

@mixin height($height: null, $min-height: null, $max-height: null){
    height: $height;
    min-height: $min-height;
    max-height: $max-height;
}

@mixin flex($justify-content: flex-start, $align-items: flex-start, $wrap: no-wrap, $direction: row){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
    flex-direction: $direction;
}